<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manish.assignmentlib">
    <application>
        <activity android:name="com.manish.assignmentlib.TestActivity"
            android:theme="@style/TestTheme">
        </activity>
    </application>

</manifest>